# npm aliases
alias nr='npm run'
alias ni='npm i'
alias nid='npm i -D'
alias nid-eslint='npm i -D eslint eslint-config-airbnb-base eslint-plugin-import eslint-plugin-unicorn'
alias nrl='npm run lint'
alias nrd='npm run dev'
alias nu='npm uninstall'
alias no='npm outdated'
