#!/usr/bin/env bash

# npm aliases
alias ns='npm start'
alias nr='npm run'
alias ni='npm i'
alias nid='npm i -D'
alias nid-eslint='npm i -D eslint eslint-config-airbnb-base eslint-plugin-import eslint-plugin-unicorn'
alias nid-prettier='npm i -D prettier eslint-config-prettier @ianvs/prettier-plugin-sort-imports'
alias nif='npm i -f'
alias nrl='npm run lint'
alias nrd='npm run dev'
alias nu='npm uninstall'
alias no='npm outdated'

# bun aliases
alias bs='bun start'
alias bi='bun install'
alias bid-eslint='bun add -D eslint eslint-config-airbnb-base eslint-plugin-import eslint-plugin-unicorn'
alias br='bun run'
alias brd='bun run dev'
alias brl='bun run lint'

# yarn aliases
alias y='yarn'
alias ys='yarn start'
alias yb='yarn build'
alias ya='yarn add'

# python aliases
alias python='python3'
alias pip='python3 -m pip'

# Requires jwt-cli (https://github.com/mike-engel/jwt-cli)
alias jwd='jwt decode'

alias o='open'
