#!/usr/bin/env bash

function gb() {
	git add package.json
	git add package-lock.json
	git commit -m "Bump dependencies"
}

# Create a directory, navigate into it, initialize npm and open VS Code
function mkdc() {
	# Check if directory already exists
	# Throw an error if it does
	if [ -d "$@" ]; then
		echo "Directory already exists"
		return 1
	fi

	mkdir -p "$@" && cd "$@" && npm init -y && code .
}

# Install npm dependencies and add `@latest` to each dependency
function nil() {
	packages=""

	for package in "$@"; do
		# Remove existing "@latest" if present
		package="${package/@latest/}"

		# Append "@latest" to each package
		package="$package@latest"

		packages="$packages$package "
	done

	npm i $packages
}

# Install npm dev dependencies and add `@latest` to each dependency
function nidl() {
	packages=""

	for package in "$@"; do
		# Remove existing "@latest" if present
		package="${package/@latest/}"

		# Append "@latest" to each package
		package="$package@latest"

		packages="$packages$package "
	done

	npm i -D $packages
}
