<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotkey.lastSpace</key>
	<data>
	eyJkaXNwbGF5S2V5Ijoi4oapIiwibW9kaWZpZXJzIjo2NDAwLCJrZXlDb2RlIjo2OSwi
	a2V5RXF1aXZhbGVudCI6Ii0ifQ==
	</data>
	<key>hotkey.left</key>
	<data>
	eyJrZXlDb2RlIjozOSwibW9kaWZpZXJzIjo2OTEyLCJkaXNwbGF5S2V5Ijoiw4YiLCJr
	ZXlFcXVpdmFsZW50Ijoiw6YifQ==
	</data>
	<key>hotkey.right</key>
	<data>
	eyJrZXlDb2RlIjo0MiwibW9kaWZpZXJzIjo2OTEyLCJkaXNwbGF5S2V5IjoiKiIsImtl
	eUVxdWl2YWxlbnQiOiIqIn0=
	</data>
	<key>hotkey.space1</key>
	<data>
	eyJkaXNwbGF5S2V5IjoiMSIsIm1vZGlmaWVycyI6NjQwMCwia2V5Q29kZSI6MTgsImtl
	eUVxdWl2YWxlbnQiOiIxIn0=
	</data>
	<key>hotkey.space10</key>
	<data>
	eyJkaXNwbGF5S2V5IjoiMCIsIm1vZGlmaWVycyI6NjQwMCwia2V5Q29kZSI6MjksImtl
	eUVxdWl2YWxlbnQiOiIwIn0=
	</data>
	<key>hotkey.space2</key>
	<data>
	eyJkaXNwbGF5S2V5IjoiMiIsIm1vZGlmaWVycyI6NjQwMCwia2V5Q29kZSI6MTksImtl
	eUVxdWl2YWxlbnQiOiIyIn0=
	</data>
	<key>hotkey.space3</key>
	<data>
	eyJkaXNwbGF5S2V5IjoiMyIsIm1vZGlmaWVycyI6NjQwMCwia2V5Q29kZSI6MjAsImtl
	eUVxdWl2YWxlbnQiOiIzIn0=
	</data>
	<key>hotkey.space4</key>
	<data>
	eyJkaXNwbGF5S2V5IjoiNCIsIm1vZGlmaWVycyI6NjQwMCwia2V5Q29kZSI6MjEsImtl
	eUVxdWl2YWxlbnQiOiI0In0=
	</data>
	<key>hotkey.space5</key>
	<data>
	eyJkaXNwbGF5S2V5IjoiNSIsIm1vZGlmaWVycyI6NjQwMCwia2V5Q29kZSI6MjMsImtl
	eUVxdWl2YWxlbnQiOiI1In0=
	</data>
	<key>hotkey.space6</key>
	<data>
	eyJkaXNwbGF5S2V5IjoiNiIsIm1vZGlmaWVycyI6NjQwMCwia2V5Q29kZSI6MjIsImtl
	eUVxdWl2YWxlbnQiOiI2In0=
	</data>
	<key>hotkey.space7</key>
	<data>
	eyJkaXNwbGF5S2V5IjoiNyIsIm1vZGlmaWVycyI6NjQwMCwia2V5Q29kZSI6MjYsImtl
	eUVxdWl2YWxlbnQiOiI3In0=
	</data>
	<key>hotkey.space8</key>
	<data>
	eyJkaXNwbGF5S2V5IjoiOCIsIm1vZGlmaWVycyI6NjQwMCwia2V5Q29kZSI6MjgsImtl
	eUVxdWl2YWxlbnQiOiI4In0=
	</data>
	<key>hotkey.space9</key>
	<data>
	eyJkaXNwbGF5S2V5IjoiOSIsIm1vZGlmaWVycyI6NjQwMCwia2V5Q29kZSI6MjUsImtl
	eUVxdWl2YWxlbnQiOiI5In0=
	</data>
	<key>showOSD</key>
	<false/>
</dict>
</plist>
