name: CI
on:
    - push
    - pull_request
jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Run tests
              run: bash tests/test-open-gitlab-pr.sh
