name: CI
on:
  - push
  - pull_request
jobs:
  lint-shell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install shell lint tools
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck
      - name: Bash syntax check
        run: |
          files=(
            ".aliases"
            ".bash_profile"
            ".functions"
            "bootstrap.sh"
            "brew-update.sh"
            "macos.sh"
            "npm.sh"
            "tests/test-open-gitlab-pr.sh"
          )
          for file in "${files[@]}"; do
            bash -n "$file"
          done
      - name: ShellCheck
        # TODO: fix these disabled shellcheck errors later
        run: |
          shellcheck -e SC1090,SC2198,SC2005,SC1091 \
            .aliases \
            .bash_profile \
            .functions \
            bootstrap.sh \
            brew-update.sh \
            macos.sh \
            npm.sh \
            tests/test-open-gitlab-pr.sh

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: bash tests/test-open-gitlab-pr.sh
